<%= render("filters.html", conn: @conn, counters: @counters, params: filtered_params(@conn)) %>
    <main role="main">
      <div class="container">
        <div class="row">
          <h5>
              Elixir is awesome. And it has a vast awesome list: <a href="https://github.com/h4cc/awesome-elixir" target="_blank">h4cc/awesome-elixir</a>.<br/>
              This is a mirror of it where each library is marked with number of
              stars at <a href="https://github.com" target="_blank">Github</a> and number of days since the last commit.
          </h5>
        </div>
        <div class="row">
            <h1>Categories </h1>
            <span class="text-success">&nbsp;&nbsp;&nbsp;<b><%= @counters.categories %></b></span>
        </div>
        <div class="row">
          <ul>
          <%= for {name, slug} <- @categories |> Enum.map(fn c -> {c.name, c.slug} end) do %>
            <li><a href="#<%= slug %>" class="js-scroll-to"><%= name %></a></li>
          <% end %>
          </ul>
        </div>
        <%= for category <- @categories do %>
        <div class="row">
          <h2 id="<%= category.slug %>"><%= category.name %></h2>
          <span class="text-success">&nbsp;&nbsp;&nbsp;<b><%= length(category.items) %></b></span>
        </div>
        <div class="row">
          <span><%= category.description |> render_markdown() |> raw() %></span>
        </div>
        <div class="row">
          <ul>
          <%= for item <- category.items do %>
            <li class="<%= if(item.updated_in >= 365 && !is_nil(item.updated_in), do: "outdated") %>">
              <a class="item-link" href="<%= item.url %>" target="_blank"><%= item.name %></a>
            <%= if !is_nil(item.stars_count) do %>
              ⭐<sub><%= item.stars_count %></sub>
            <% end %>
            <%= if !is_nil(item.updated_in) do %>
              <%= if(item.updated_in <= 7) do %>
                &nbsp;📅<sub class="text-danger">&nbsp;Just updated!</sub>
              <% else %>
                &nbsp;📅<sub>&nbsp;<%= item.updated_in %></sub>
              <% end %>
            <% end %>
              <%= item.description |> render_markdown() |> raw() %>
             </li>
          <% end %>
          </ul>
        </div>
        <% end %>
      </div>
    </main>
