    <footer class="fixed-bottom"><span class="outdated" id="lastUpdateAt"><a href="/doc/index.html" target="_blank">View docs (<%= app_version() %>)</a>. Last updated at: <%= @last_updated_at %></span></footer>
